{
  "name": "opensocrates",
  "version": "{{PRODUCT_VERSION}}",
  "description": "OpenSocrates native reasoning skill for Grok Build.",
  "author": {
    "name": "Parker Hwang"
  },
  "homepage": "https://github.com/ParkerHwang/OpenSocrates",
  "repository": "https://github.com/ParkerHwang/OpenSocrates.git",
  "license": "MIT",
  "skills": "./skills"
}
